/* Body of the page. --//-- Cuerpo de la página. */
body {
    margin: 0;
    padding: 0;
    background-color: rgb(237, 237, 237);
    height: 100vh;
}


/* Navigation bar navbar. --//-- Barra de navegación navbar. */
.navbar {
    background-color: rgb(196, 196, 196);
    /* background-color: rgb(255, 232, 0); */
}

.navbar-collapse {
    justify-content: flex-end;
}


/* Section presentation --/-- Sección de presentacion */
.presentation {
    background-color: rgb(204, 204, 204);
    min-height: 100px;
    text-align: center;
    padding: 1.5rem;
}